vidra-kit/src/vidra_kit/adi/schemas/CableLabs_ADI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ADI">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Metadata" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Asset" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
