vidra-kit/src/vidra_kit/schemas/Metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:import namespace="" schemaLocation="AMS.xsd"/>
    <xs:import namespace="" schemaLocation="AppData.xsd"/>

    <xs:complexType name="MetadataType">
        <xs:sequence>
            <xs:element name="AMS" type="AMSType"/>
            <xs:element name="App_Data" type="AppDataType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
